extends ../layout

mixin slide(sectionClasses, containerClasses, slideClasses)
    section(class='vh-100 dt w-100 pv4 ' + sectionClasses)
        div(class='dtc ph3 ph4-l v-mid ' + containerClasses)
            div(class='center mw9 ' + slideClasses)
                block

mixin baskerville
    p(class='f4 f3-ns lh-copy mt0 baskerville measure-ns ' + attributes.class)
        block

block content

    section(class='vh-100 dt w-100 pv3 bg-blue' style='background: url(/assets/bg.png) no-repeat center center; background-size: cover')
        div(class='dtc ph3 ph4-l v-mid')
            div(class='center mw9 white')
                h1(class='f1 f-subheadline-m f-headline-ns fw6 mv0 mb4 lh-solid tracked-tight') GHApplets #[img(class='w3 w4-ns pb2 pr2' src='/assets/avatar.png' style='vertical-align: sub')]
                p(class='mb4') Extend GitHub Enterprise with Serverless Functions in any language on K8S or in the Cloud
                a(href="https://github.com/ghapplets/getting-started" class='f6 f5-ns fw6 dib ba b--white-20 bg-white black-80 ph3 ph4-ns pv2 pv3-ns br2 grow no-underline') Get Started with GHApplets Now
                

    +slide('bg-white', null, 'black-80')
        h1.fl.w-100.f5.ttu.tracked.fw6.bb.pb2 GHApplets In a nutshell
        h1(class='f1 f-subheadline-m f-headline-ns fw6 mt0 lh-solid tracked-tight') Unlock the power of #[a(class='black-80' href='https://github.com/features/actions') GitHub Actions] on your GitHub Enterprise instance, now.
        a(href="https://github.com/ghapplets/getting-started" class='f6 f5-ns fw6 dib ba b--black-20 bg-black white ph3 ph4-ns pv2 pv3-ns br2 grow no-underline') Get Started with GHApplets Now

    section(class='vh-100 dt w-100 pv4' style='background: #333 url(/assets/bg2.png) no-repeat center bottom; background-size: cover')
        div(class='dtc ph3 pv5 ph4-l v-mid')
            div(class='center mw9 white')
                h1.fl.w-100.f5.ttu.tracked.fw6.bb.pb2 Mission
                div.measure-wide.f4
                    h2.f3.f1-ns.fw6.mb5 What problem are we trying to solve?
                    p.v-btm Blueprints enable GitHub partners to build and deploy end-to-end solutions using a combination of toolchains and workflows.
                    p.mt3.v-btm We need a solution that allows our SI partners to automate SDLC workflows based on industry vertical needs. These workflows and toolchains are currently being called blueprints inside our partner community.
                    p.mt3.v-btm Currently, integrating GitHub Enterprise into the SDLC requires the assumption that every SDLC workflow begins on GitHub Enterprise. Our business partners see GitHub Enterprise as one of many products inside their customer's overall toolchain purchase. As GitHub Enterprise evolves into a Platform, we need a way to simplify building integrations and workflows that can establish an integrated SDLC toolchain.
                    p.mt3.v-btm GHApplets offer a set of tools, guidelines and suggestions for GitHub Partners.
                    p.mt3.mb0.v-btm Disclaimer: this is not a GitHub product and will not be supported by GitHub. The goal is for our SIs to perform the development and delivery of these workflows with guidance from the GitHub Partners team.

    +slide('bg-white', null, 'black-80')
        h1.fl.w-100.mt5.f5.ttu.tracked.fw6.bb.pb2 Core Principles
        article.pv2.fl.w-100
            h2.f3.f1-ns.fw6.mb2 Made for System Integrators
            p.f5.f4-ns.lh-copy.mt0 A platform for building lightweight functions to perform actions based on any webhook event from any product in the SDLC.
        .cf
        article.pv2.fl.w-100.w-50-l.pr0.pr2-l
            h2.f3.f2-ns.fw6.mb2 Great with blueprints
            p.f5.measure.lh-copy.mt0
                | Quickly deliver bespoke solutions to integrate the various parts of your blueprint.
                
        article.pv2.fl.w-100.w-50-l.pl0.pl2-l
            h2.f3.f2-ns.fw6.mb2 Join our Community
            p.f5.measure.lh-copy.mt0
                | Leverage the GitHub Partners organization to share and reuse existing workflows in our friendly ecosystem.
        .cf

        article.pv2.fl.w-100.w-50-l.pr0.pr2-l
            h2.f3.f2-ns.fw6.mb2 Easily upgrade to Actions
            p.f5.measure.lh-copy.mt0
                | It's easy to migrate once GitHub Actions will be available as GHApplets are powered by similar principles and technology.
        
        article.pv2.fl.w-100.w-50-l.pl0.pl2-l
            h2.f3.f2-ns.fw6.mb2 Ideal for prototyping
            p.f5.measure.lh-copy.mt0
                | Enable custom, non-linear workflows on GHE and iterate on the customer's feedback.
        .cf
        article.pv2.fl.w-100.w-50-l.pr0.pr2-l
            h2.f3.f2-ns.fw6.mb2 Based on existing software
            p.f5.measure.lh-copy.mt0
                | Run GHApplets on your Kubernetes + Fission or any existing Cloud provider: AWS Lambda, Google Cloud Functions, IBM Cloud Functions, Azure Functions and more.
        article.pv2.fl.w-100.w-50-l.pl0.pl2-l
            h2.f3.f2-ns.fw6.mb2 Enable non-linear solutions
            p.f5.measure.lh-copy.mt0
                | A modular architecture allows custom, non-linear workflows using HTTP endpoints, time-based triggers or message queues.

    +slide('bg-dark-gray white')
        h1.fl.w-100.f5.ttu.tracked.fw6.bb.pb2 Use case: regulated industries
        h2.f3.f1-ns.fw6.mb5 Example: From JIRA to Pull Request
        p.f5.lh-copy Running projects that require the integration of several different components to work flawlessly is not trivial. There may be particular constraints, especially in regulated industries, that demand a higher level of customization to answer specific needs. 
            | In this example, due to strict compliance requirements Customer A needs to ensure that all work is tracked on Jira and that every pull requests in a repository need to have a matching Jira ID. Let's take a look at our #[a(class='white code' href='https://github.com/ghapplets/getting-started/blob/master/samples/jira-pr.js') jira-to-pr] GHApplet in action.
        div.pv3
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container mr2'><iframe src='https://www.youtube.com/embed//WgMeL7uPkpg' frameborder='0' allowfullscreen></iframe></div>
        p.f5.lh-copy Running projects that require the integration of several different components to work flawlessly is not trivial. There may be particular constraints, especially in regulated industries, that demand a higher level of customization to answer specific needs. 
            | In this example, due to strict compliance requirements Customer A needs to ensure that all work is tracked on Jira and that every pull requests in a repository need to have a matching Jira ID. Let's take a look at our #[a(class='white code' href='https://github.com/ghapplets/getting-started/blob/master/samples/jira-pr.js') jira-to-pr] GHApplet in action.
        p.f5.lh-copy To support GitHub Enterprise as a platform we need a way to simplify building integrations and workflows that can establish an integrated SDLC toolchain.
            | A serverless approach that allows our SI partners to automate SDLC workflows based on industry vertical needs (Blueprints)
            | This is not a GitHub product and will not be supported by GitHub. The goal is for our SIs to perform the development and delivery of these workflows with guidance from the GitHub Partners team.
        a(href="https://github.com/ghapplets/getting-started" class='f6 f5-ns fw6 dib ba b--white-20 bg-white black-80 ph3 ph4-ns pv2 pv3-ns br2 grow no-underline') Get Started with GHApplets Now

    +slide('bg-white', null, 'black-80')
        h1.fl.w-100.mb5.f5.ttu.tracked.fw6.bb.pb2 Join us
        h1(class='f3 f2-m f-headline-l lh-solid fw6 mt0') GHApplets &ndash; enabling a GitHub integration practice.

    
    div.dtc.v-btm.w-100.ph3.lh-solid
        p.f6 &copy; GitHub Partners 2018 &ndash; All rights reserved.

