doctype html
html
    head
        title= 'GitHub Partners - GHApplets'
        link(rel='stylesheet', href='/assets/tachyons.min.css').
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body(class='sans-serif')
        block content

        block scripts
